#postHeader {
    background: transparent !important;
}

#wrapper {
    margin-top: -93px;
    background-color: white !important;
    overflow-x: hidden !important;
    
    #loginContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: white;
    
        #loginLabel {
            font-size: 1.1rem;
            text-align: center;
            font-weight: bold;
        }

        #loginForm {
            width: 320px;
            height: auto;
            
            .form-label {
                font-weight: bold;
            }

            input {
                font-size: 15px !important;
            }

            .link {
                text-decoration: none;
            
                &:hover {
                    text-decoration: underline;
                    color: #111;
                }
            }
        }
    }
}